/* избавиться от рамок браузера по умолчанию */
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
/*  100 vh на всю высоту, но репит - не повторять, растянуть -ковер*/
.main-menu {
  background-image: url(/img/bg.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  margin: 0px 60px;
}

.navigation-block {
  padding-top: 50px;
  display: flex; /* расположить в линию вместо столбика */
  align-items: center; /* выровнять по линии главного элемента*/
  justify-content: space-around; /* распределить в пространстве эелементы*/
}

.nav-item {
  color: rgb(98, 82, 5);
  text-decoration: none; /*убрать подчеркивание ссылки*/
  font-weight: 700; /*работа со шрифтом*/
  font-size: 22px; /*работа со шрифтом*/
  margin-right: 25px; /* отодвинули элементы друг от друга*/
  transition: color 0.3s linear; /*продолжительность действия при наведении мыши, плавность изменения цвета*/
}
/*действия при наведении мыши*/
.nav-item:hover {
  color: #551dd8;
}

.num {
  color: rgb(128, 39, 39);
  text-decoration: none; /*нижнее подчеркивание убираем*/
  font-weight: 700; /*толщина букв*/
  transition: color 0.3s linear;
}
/*действия при наведении мыши*/
.num:hover {
  color: #c2d81d;
}
.phone-text {
  font-size: 14px;
  font-weight: 400;
  color: rgb(99, 16, 16);
}
.phone-holder {
  display: flex;
  align-items: center;
}
.button {
  background-color: #bf54c3d3;
  color: #fff;
  text-decoration: none;
  padding: 14px 18px;
  font-weight: 700;
  transition: background-color 0.2s linear;
}
/*действия при наведении мыши*/
.button:hover {
  background-color: #81297bfc;
}

.header-down {
  position: relative; /*стал родителем для класса хедер тайтл*/
}

.main-text {
  color: #cf1d64;
  font-family: "Tinos", serif;
  font-size: 60px;
  font-weight: 400;
  left: 0;
  margin-top: 50px;
  margin-bottom: 12px;
  text-align: center;
}
.extra-text {
  color: rgb(154, 37, 37);
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}
/*псевдо классы полоски*/
.extra-text:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 61px;
  background-color: rgb(222, 26, 196);
  top: 127px;
  left: 300px;
}
.extra-text:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 61px;
  background-color: rgb(222, 26, 196);
  top: 127px;
  left: 750px;
}
.main-button:hover {
  background-color: #700d89;
}
.main-button {
  background-color: #c01ca7;
  padding: 14px 28px;
  color: rgb(198, 252, 246);
  font-size: 14px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  transition: background-color 0.3s linear;
}
.cards-holder {
  display: flex; /*расположить в строку*/
  justify-content: space-between;
}
.card {
  width: 300px;
  box-shadow: 10px 10px 10px 10px #4d044d6a;
  margin-right: 31px;
  margin-left: 31px;
  background-color: rgba(253, 134, 253, 0.201);
  margin-top: 30px;
  padding: 10px 10px;
}
.card-image {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.card-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: "Tinos", serif;
  font-size: 26px;
  font-weight: 400;
}
.card-title span {
  color: #d67e35;
  margin-left: 2px;
}
.card-desc {
  text-align: center;
  font-family: "Tinos", serif;
  font-size: 26px;
  font-weight: 400;
  color: #656363;
}
.info {
  margin-top: 60px;
  padding-bottom: 200px;
}
.info-title {
  font-family: "Tinos", serif;
  font-size: 54px;
  font-weight: 400;
  width: 450px;
  text-align: center;
  margin-top: 10px;
}
.info-title span {
  color: #5e0e90;
}
.info-text {
  color: #656363;
  font-size: 16px;
  width: 450px;
  text-align: center;
}
.info-numbers {
  display: flex; /*надо в строчку*/
  width: 450px;
  justify-content: center;
  margin-top: 40px;
  margin-left: 40px;
}
.items {
  margin-right: 60px;
  text-align: center;
  font-size: 40px;
  color: #6e0883;
}
.items span {
  display: block;
  color: #000;
}
.info-img {
  position: relative;
}
.info-block {
  display: flex;
}
.imgages-1 {
  position: absolute;
  z-index: 0;
  top: 30px;
  left: 180px;
}
.imgages-2 {
  position: absolute;
  z-index: 999;
  top: -92px;
  left: 383px;
}
.imgages-3 {
  position: absolute;
  z-index: 999;
  top: 220px;
  left: 460px;
}
.promotion {
  background-image: url(/img/bg-2.jpg);
  padding: 100px 20px;
  background-size: cover;
}
.left-title {
  color: #d67e34;
  font-family: "Tinos", serif;
  font-size: 52px;
  font-weight: 400;
  margin-top: 0px;
  text-align: center;
}
.left-text {
  font-weight: 700;
  font-size: 24px;
  color: rgb(87, 18, 101);
  text-align: center;
}
.right-btn {
  background-color: #f027c1c4;
  color: #fff;
  text-decoration: none;
  padding: 14px 18px;
  font-weight: 700;
  transition: background-color 0.3s linear;
}
.right-btn:hover {
  background-color: #700d89;
}

.promotion-block {
  display: block;
  justify-content: space-between;
  align-items: center;
}
.clothes-title {
  font-family: "Tinos", serif;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 139px;
}
.clothes-title span {
  color: #8f106b;
}
.portfolio {
  display: flex;
  justify-content: center;
}
.dress-img {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.galery-title {
  font-family: "Tinos", serif;
  font-size: 54px;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 60px;
}

.galery-title span {
  color: #d67e34;
}

.galery-content {
  display: flex;
  justify-content: center;
}

.galery-left {
  margin-right: 20px;
}

.galery-down,
.galery-up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.burger-menu {
  display: none;
}
#menu-burger ul {
  display: block;
  height: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.item {
  color: rgb(98, 82, 5);
  text-decoration: none; /*убрать подчеркивание ссылки*/
  font-size: 22px; /*работа со шрифтом*/
  margin-right: 5px; /* отодвинули элементы друг от друга*/
  transition: color 0.3s linear; /*продолжительность действия при наведении мыши, плавность изменения цвета*/
}
/*действия при наведении мыши*/
.item:hover {
  color: #551dd8;
}

.footer {
  width: 100%;
  padding: 15px 0px;
  background-color: #f9bf00;
  font-size: 24px;
  color: rgb(75, 6, 55);
  text-align: center;
}

@media (max-width: 1500px) {
  .galery-content {
    display: block;
  }
  .img-gal,
  .galery-up,
  .galery-down {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .img-gal {
    margin-bottom: 20px;
  }
  .galery-left {
    margin-right: 0;
  }
}
@media (max-width: 1300px) {
  .menu-items {
    display: block;
  }
  .menu-item {
    margin: 20px auto;
    width: 600px;
  }
  .main-text {
    position: static;
  }
  .extra-text:before,
  .extra-text:after {
    content: none;
  }
  .promotion-block {
    display: block;
  }
  .left-title,
  .left-text,
  .right-button {
    text-align: center;
  }
  .right-button {
    margin-top: 40px;
  }
  .info-img {
    display: none;
  }
  .info-title,
  .info-text,
  .info-numbers {
    width: auto;
  }
}

@media (max-width: 1185px) {
  .burger-menu {
    display: block;
  }
  .nav,
  .location,
  .phone,
  .btn {
    display: none;
  }
  .navigation-block {
    justify-content: space-between;
  }
}
@media (max-width: 1000px) {
  .cards-holder {
    display: block;
  }
  .card {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 20px;
  }
}
@media (max-width: 780px) {
  .info-block {
    display: block;
  }
  .menu-item {
    width: auto;
  }
  .high {
    display: none;
  }
  .container {
    margin: auto 40px;
  }
  .number-item {
    font-size: 23px;
  }
}
.timer {
  width: 400px;
  height: 100px;
  position: relative;
  margin-top: auto;
  margin-left: auto;
}

/* таймер */
.timer__items {
  display: flex;
  font-size: 2em;
  align-items: stretch;
}
h2 {
  color: rgb(236, 26, 26);
}
.timer__item {
  position: relative;
  min-width: 60px;
  margin-left: 0.3em;
  margin-right: 0.3em;
  padding-bottom: 15px;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  color: red;
}

.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 1rem;
  font-weight: normal;
  /* color: white; */
}

.timer__divider {
  width: 1px;
  padding: 0;
  margin: 0;
  opacity: 0.25;
  background-color: white;
}

@media screen and (max-width: 1300px) {
  body {
    font-size: 0.85rem;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 0.75rem;
  }
  .timer__items {
    font-size: 4em;
  }
}
/* конец таймера */
